# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- R
- Python
- SQL
- Julia
- Java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| Rstudio            |
| VScode             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
result = 6*8
print(result)

48

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Suliman Hayajneh